body {
  background-color: black;
}
main {
  display: flex;
  justify-content: center;
  font-family: Courier, monospace;
  font-size: 18px;
}

button {
  background-color: #ffff00;
  color: #007e00;
  font-size: 45px;
  font-weight: bold;
  font-family: Courier, monospace;
  border: 3px solid black;
}

button:focus { outline: none; }

h1,
h2 {
  color: #ff0000;
  font-size: 60px;
  text-shadow: -3px -3px 0 #ffff00, 3px -3px 0 #ffff00, -3px 3px 0 #ffff00,
    3px 3px 0 #ffff00;
}

/*Splash Screen styling*/
#splash-screen, #levels-screen,
#win-screen, #super-win-screen {
  width: 560px;
  height: 560px;
  background-image: url("img/splash-bg.png");
  text-align: center;
}

#splash-screen h1 {
  margin: 60px 0px 20px 0px;
}

#splash-screen p {
  background-color: rgb(255, 255, 255, 0.8);
  width: 430px;
  margin: auto;
  font-weight: bold;
  padding: 10px 0px;
}

#splash-screen #start-button {
  position: relative;
  top: -10px;
  left: -5px;
}

#splash-screen img {
  position: relative;
  top: 75px;
  left: -20px;
}

#splash-screen .level-selector{
  display: block;
  font-size: 25px;
  position: relative;
  left: 300px;
  color:black;
  background-color:#ff0000;

}

/* Win & Super Win Screen Styling */
#win-screen h1, #super-win-screen h1 {
  font-size: 80px;
  margin: 40px 0px 0px 0px;
}

#win-screen img, #super-win-screen img {
  position: relative;
  top: 20px;
}

#win-screen h2, #super-win-screen h2{
  margin: 0px;
}

#win-screen p, #super-win-screen p {
  color: black;
  background-color: rgb(255, 255, 255, 0.8);
  margin: 0px 130px;
  font-weight: bold;
}

#win-screen .final-score{
  font-size: 30px;
  margin-top: 15px;
}
#super-win-screen .final-score {
  font-size: 30px;
}

#win-screen .can-do-better, #super-win-screen .can-do-better{
  font-size: 22px;
  padding-bottom: 10px;
  margin-bottom: 8px;
}

#win-screen button{
  font-size: 35px;
  padding: 10px 20px;
}

#super-win-screen button {
  font-size: 30px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

/* GameScreen styling */
#game-screen {
  display: flex;
  flex-direction: column;
}

#game-screen button {
  color: black ;
  background-image: url("img/btn-bg.png");
  background-size: cover;
  border:none;
  text-align: center;
  position: relative;
  width: 72px;
  height: 35px;
  margin: auto;
}

#game-screen #retry-btn{
  top: -35px;
  font-size: 18px;
}

#game-screen .level-selector{
  font-size: 16px;
  top: -70px;
  left: -140px;
}

#game-screen #undo-btn{
  font-size: 18px;
  top: -105px;
  left: 140px;

}

/* Levels screen styling */

#levels-screen h2{
  padding-top: 60px;
  font-family: Courier, monospace;
  margin: 0;
}

#levels-screen .level-btn{
  font-size: 30px;
  display: block;
  margin: auto;
  margin-top: 10px;
}

#levels-screen .odd{
  position: relative;
  left: -30px;
}

#levels-screen .even{
  position: relative;
  left: 30px;
}

#levels-screen img {
  position: relative;
  left: -100px;
}

/* Footer Styling */
footer {
  position: absolute;
  top: 580px;
  left: 250px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color:white;
}
